* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eaeded;
  color: #1a1a1a;
  font-family: helvetica;
}

header {
  margin: 5rem;
}

.heading-presents {
  display: flex;
  justify-content: center;
  margin-bottom: 1.8rem;
}

.heading-title {
  display: flex;
  text-transform: uppercase;
  letter-spacing: -0.2rem;
  justify-content: center;
  font-size: 80px;
  margin-bottom: 2rem;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.cta-form label {
  display: inline-block;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.cta-form input {
  width: 10%;
  font-size: 1rem;
  font-family: inherit;
  border-radius: 9px;
  color: #1a1a1a;
  padding: 0.5rem;
  background-color: #acb9b9;
  cursor: pointer;
}

form {
  margin-bottom: 5rem;
}

.main {
  display: flex;
  padding: 4.2rem;
  margin: 0 4.2rem 4.2rem 4.2rem;
  background-image: linear-gradient(to right bottom, #2f4f4f, #132020);
  color: #eaeded;
  border-radius: 11px;
}

.info {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  justify-content: center;
}

.date-choosen {
  margin-bottom: 1rem;
}

.title-of-photo {
  margin-bottom: 2.4rem;
}

.explanation {
  line-height: 1.6;
}

.starter-img {
  max-width: 800px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.5);
  border-radius: 11px;
}

.browse-more {
  display: flex;
  padding: 4.2rem;
  margin-right: 4.2rem;
  margin-left: 4.2rem;
  background-image: linear-gradient(to right bottom, #2f4f4f, #132020);
  align-items: center;
  justify-content: center;
  min-height: 35vh;
  background: linear-gradient(to right bottom, #2f4f4f, #132020);
  padding: 0 35px;
  border-radius: 11px;
}

h3 {
  color: #eaeded;
}

.browse-img {
  position: relative;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 11px;
  opacity: 0;
  transition: opacity 0.25s;
}

.image-overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image-overlay:hover {
  opacity: 1;
}

.image-overlay:hover > * {
  transform: translateY(0);
}

.image-title,
.image-date {
  line-height: 2;
}

.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}

.wrapper ion-icon {
  height: 50px;
  width: 50px;
  background: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  font-size: 1.25rem;
}

.wrapper ion-icon:first-child {
  left: -22px;
}

.wrapper ion-icon:last-child {
  right: -22px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  gap: 16px;
  overflow: hidden;
  scroll-behavior: smooth;
}

.carousel .card {
  height: 400px;
  list-style: none;
  background-color: #eaeded;
  border-radius: 11px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  cursor: pointer;
}

.card .browse-img {
  width: 100%;
  height: 100%;
}

.card .browse-img img {
  width: 100%;
  height: 100%;
  border-radius: 11px;
}

.card h2 {
  font-weight: 500;
  font-size: 18px;
}

.card span {
  font-size: 16px;
}

/* responsive section */
@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}
@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}
