* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eaeded;
  color: #1a1a1a;
  font-family: helvetica;
}

/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.6rem;
  margin-bottom: 1.2rem;
}*/

.cta-form label {
  display: inline-block;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.cta-form input {
  width: 45%;
  font-size: 1.2rem;
  font-family: inherit;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

form {
  margin-bottom: 5rem;
}

.heading-presents {
  display: flex;
  justify-content: center;
  margin-bottom: 2.4rem;
}

.heading-title {
  display: flex;
  text-transform: uppercase;
  letter-spacing: -0.1rem;
  justify-content: center;
  font-size: 80px;
  margin-bottom: 4rem;
}

.main {
  display: flex;
  padding: 4.2rem;
  margin-right: 4.2rem;
  margin-left: 4.2rem;
  background-color: #182828;
  color: #eaeded;
  border-radius: 11px;
}

.info {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  justify-content: center;
}

.date-choosen {
  margin-bottom: 1rem;
}

.title-of-photo {
  margin-bottom: 2.4rem;
}

.explanation {
  line-height: 1.6;
}

img {
  max-width: 800px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.5);
  border-radius: 11px;
}
